
    <div class="container-fluid" style="position:absolute; width:100%; height:100%; background:url('http://www.lucazweb.com.br/cronapp/apoena/img/apoena-view-login.jpg');">
        <div class="container container--login-apoema">
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <div class="apoema-logo"></div>
                </div>
                <div class="col-md-8 col-xl-8"> 
                    <form class="form-inline form-inline--apoema">
                        <div class="form-group">
                            <input ng-model="username.value" type="text" class="form-control" placeholder="Insira o seu login">
                        </div>
                        <div class="form-group">
                            <input ng-model="username.password" type="password" class="form-control" placeholder="Insira sua senha">
                        </div>
                        <a href="/#dash" type="button" class="btn btn-block btn-apoema-padrao">Entrar <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </form>
                </div>
            </div>          
        </div>
    </div>